{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Môj Eshop</title>
    <link rel="stylesheet" href="{% static 'eshop/style.css' %}">
</head>
<body>
    <h1>MÔJ E-SHOP</h1>
    <div class="container">
    {% if category %}
        <h2>Kategórie</h2>
        <ul>
            {% for kategoria in category %}
            <li class="nadpis"><a href="{% url 'vypis-kategoria' kategoria=kategoria %}">{{ kategoria }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if produkty %}
        <h2>Produkty</h2>
        <ul>
            {% for produkt in produkty %}
            <li class="nadpis"><a href="{% url 'popis-produktu' produkt=produkt.id %}">{{ produkt.nazov }}</a></li>
            <ul>
                <li> <strong>Kategória:</strong> {{produkt.kategoria}} </li>
                <li> <strong>Cena:</strong> {{produkt.cena}} € </li>
            </ul>
            {% endfor %}
        </ul>
    {% endif %}
    {% if objednavky %}
        <h2>Obejdnávky</h2>
        <ul>
            {% for i in objednavky %}
            <li><h3> Objednávka č. {{ forloop.counter }} </h3></li>
            <ul>
                <li> <strong>Zákazník:</strong> {{ i.zakaznik.meno }} {{ i.zakaznik.priezvisko }}</li>
                <li> <strong>Produkt:</strong> {{ i.tovar.nazov }}, {{ i.tovar.kategoria }}, {{ i.tovar.cena }} €</li>
                <li> <strong>Dátum objednávky:</strong> {{ i.datum }} </li>
            </ul>
            {% endfor %}
        </ul>
    {% endif %}
    {% if zakaznici %}
        <h2>Zákazníci</h2>
        <ul>
            {% for i in zakaznici %}
            <li>{{ i }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
</body>
</html>